@use '../../assets/styles/partials/variables' as *;

.mobile-menu {
    position: relative;
    z-index: 1000;

    &__toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: $spacing-sm;

        .bar {
            width: 25px;
            height: 2px;
            background-color: $primary;
            transition: 0.3s;
        }
    }

    &__dropdown {
        position: absolute;
        top: 45px;
        right: 0;
        background-color: $secondary;
        border-radius: 6px;
        padding: $spacing-sm $spacing-xs;
        box-shadow: $shadow-card;
        display: flex;
        flex-direction: column;
        border: solid $accent 4px;

        a {
            font-family: $font-sans-ui;
            font-size: $font-size-base;
            color: $primary;
            padding: $spacing-xs 0;
            text-decoration: none;

            &:hover {
                color: $accent;
            }


        }
    }
}