@use 'breakpoints' as *;
@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-grid($cols) {
    display: grid;
    grid-template-columns: repeat(#{$cols}, 1fr);
    gap: $spacing-sm;
}