//Color Pallette
$primary: #2c2c2c; //For headings, buttons, and footer background
$secondary: #F9F6F2; //Background tone for sections (like service blocks)
$accent: #C9A96C; //Use sparingly: CTA hover states, underlines
$Neutral-Gray: #7D7D7D; //For paragraph text, icons, form labels
$DarkBrownWood: #4B3621; //Optional background/accent

//Mobile
$nav-logoWidth: 50px;
$nav-logoHeight: 50px;
$nav-fontSize: 0.75em;